name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ">=24.13.0"
      - run: npm install
      - name: Compile latex
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Copy PDF to dist
        run: npm run dist
      - name: Commit dist/ to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: "./dist"
